.theme-card {
    display: flex;
    position: center;
    flex-direction: column;
    width: 40ch;
    border-radius: $theme-border-radius;
   
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.18);
  
    &__title {
      margin-bottom: 1rem;
      font-size: $theme-h4-font-size;
      line-height: 1.15;
      text-decoration: none;
    }
  
    /* stylelint-disable selector-max-type, selector-no-qualifying-type */
    a.theme-card__title {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 180ms box-shadow ease-in;
        border-radius: 8px;
        content: "";
      }
  
      &:focus {
        outline: none;
  
        &::before {
          box-shadow: 0 0 0 3px theme-color("primary");
        }
      }
    }
  
    &__content {
      display: flex;
      position: relative;
      flex-direction: column;
      flex-grow: 1;
      padding: 24px;
  
      a:last-child {
        align-self: start;
        margin-top: auto;
      }
  
      p {
        position: relative;
        margin: 0 0 1rem;
        z-index: 1;
      }
  
      > ul {
        list-style-type: square;
        padding-left: 1rem;border-r
  
        li + li {
          margin-top: 0.5rem;
        }
      }
    }
  
    &:hover a.theme-card__title::before {
      box-shadow: 0 0 0 3px theme-color("text");
    }
  
    img:first-child {
      object-fit: cover;
      max-height: 10em;
      border-radius: $theme-border-radius $theme-border-radius 0 0;
    }
    // stylelint-enable
  
    &--outlined {
      border: 1px solid scale-color($theme-color-gray, $lightness: 50%);
      background-color: transparent;
      box-shadow: none;
    }
  }