// stylelint-disable-next-line selector-max-type

body{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
   background-color: $theme-color-primary;
    background-size: cover;
    background-repeat: no-repeat;
    opacity:1;
    font-family: $theme-font-family;
}
article {
    max-width: 150vw;
}
.theme-container {
    display: flex;
    flex-direction: column;
    background-color: $theme-color-secondary;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;

}
.navigation {
    display: grid;
    background-color:#ad1389;
    min-height: 60vh;
    place-content: center;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: 0 auto;
    opacity: 1;
  }
